################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sentinel/bin/Debug
/packages
/packages
/Sentinel/obj/Debug
/Sentinel.Tests/bin/Debug
